# Node modules
electron/node_modules/
**/node_modules/

# Python environment
venv/

# Python cache
__pycache__/
*.pyc

# SQLite DB
db.sqlite3

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
